.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: solid 3px #193D49;
    cursor: pointer;
    background: repeating-radial-gradient(
        circle,
        #16A7A2,
        #16A7A2 10px,
        #193D49 10px,
        #193D49 20px
    );
}

.MemoryCard>img {
    width: 60px;
    padding-top: 11px;
}